@page "/counter"
@rendermode InteractiveServer

<PageTitle>Peter's Counter</PageTitle>

<h1>Pit's Counter</h1>

<p role="status">Current count of clicks: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me again</button>

@code {
    private int currentCount = 1;

    private void IncrementCount() => currentCount +=3;
} 
